.Nav {
    background-color: #333; /* Background color for the navigation bar */
    color: #fff; /* Text color for links and app name */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.Nav img {width: 3rem; height: auto;} 

.NavLinks {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px; /* Spacing between navigation links */
}

.NavLink {
    text-decoration: none;
    color: #fff; /* Text color for links */
    font-weight: bold; /* Make links bold */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}
/* Additional styling for hover effect */
.NavLink:hover {
    color: #280e7d; /* Change link color on hover */
}